.red{background-color: red; width: 300px; height: 600px; margin: 150px;}
.blue{background-color:rgb(4, 0, 248); width: 150px; height: 600px;}
.white{background-color: white; width: 450px; height: 600px; margin: 150px; padding-top: -50px;}
body{background:;
background-repeat: no-repeat;
background-size:cover;
}
video{width: 100%; height: 100%;}
.text {text-align: right; color: whitesmoke; font-size: 80px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.table {text-align: center; color: aliceblue; font-style: italic; font-size: 40px;}
.t {color: aqua; text-align: right;font-size: 50px;}

