 p.{color:aquamarine;
   backround-color: beige;}
 table{text-align: center;
 width: 400px;heigh: 300px;}
 div {text-align: center;}
 h1{text-align:center}
 h2{text-align:left}
 p.main{text-align:right}